$green-vue: #42b983;
$border-grey: #d3e0e9;

body{
    background: white;
    font-family: 'Raleway', sans-serif;
}

h1, h3, h4, label{
    font-weight: lighter;
    color: #555;
}

a{
    text-decoration: none !important;
    color: inherit;
}

a:hover{
    color: white;
}

.btn-success{
    background: $green-vue !important;
}

.sidebar{
    width: 230px;
    height: 100%;
    position: fixed;
    padding-top: 80px;
    padding-left: 40px;
    padding-right: 20px;
    background: white;
    border-right: 1px solid $border-grey;
    transition: all 0.2s;
    .level{
        font-weight: bold;
        color: $green-vue !important;
    }
    h4{
        font-size: 16px;
        margin: 20px 0;
    }
    a:hover{
        border-bottom: 2px solid $green-vue;
        font-weight: bold;
        color: inherit;
    }
}

.router-link-active{
    border-bottom: 2px solid $green-vue;
}

.router-link-active:focus{
    color: inherit;
}

.my-content{
    padding-top: 72px;
    padding-left: 250px;
    padding-right: 20px;
    label{
        font-weight: lighter;
    }
    input[type="number"]{
        width: 50px;
        margin-left: 10px;
    }
}

.arr{
    padding: 5px 15px;
    margin-right: 10px;
    margin-bottom: 10px;
    display: inline-block;
    background: $green-vue;
    border-radius: 10px;
    font-family: sans-serif;
    color: white;
    cursor: pointer;
}

.arr-rs{
    padding: 5px 15px;
    margin-right: 10px;
    margin-bottom: 10px;
    display: inline-block;
    background: #4285F4;
    border-radius: 10px;
    font-family: sans-serif;
    color: white;
    cursor: pointer; 
}

@media screen and (min-width: 900px){
    .arr-rs:hover{
        background: rgb(50, 98, 175);
    }
    
    .arr:hover{
        background: #20895e;
    }

    .selected:hover{
        background: rgb(170, 56, 53);
    }
    
    .sort:hover{
        background: rgb(228, 146, 31);
    }
}

.selected, {
    background: #DC4C46;
}

.sort{
    background: #FF9900;
}

.step{
    margin-bottom: 20px;
    opacity: 1;
    transition: opacity 0.5s;
}

.glyphicon-remove{
    font-size: 20px;
    color: #DC4C46; 
}

.glyphicon-ok{
    font-size: 20px;
    color: $green-vue;
}

@media screen and (max-width: 1000px) {
    .sidebar{
        padding-left: 27px;
    }
    .navbar{
        padding: 0 27px !important;
    }
}

@media screen and (max-width: 900px) {
    .sidebar{
        transform: translate(-230px, 0);
        -webkit-transform: translate(-230px, 0);
        padding-top: 0px;
        z-index: 1031;
        //left: -50%;
    }
    .open{
        box-shadow: 2px 2px 20px 0px #ccc;
    }
    .navbar{
        text-align: center;
        .my-title{
            padding-right: 30px !important;
        }
        .menu-button{
            display: initial !important;
        }
    }
    .my-content{
        position: absolute;
        height: 100%;
        width: 100%;
        padding-left: 27px;
        padding-right: 27px;
        z-index: -1;
    }
    // .home{
    //     padding-left: 27px;
    //     padding-right: 27px;
    // }
}

.open{
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}


